---
{% if prometheus_scraper_mariadb | bool and groups[prometheus_scraper_mariadb_groupname] is defined %}
{% for host in groups[prometheus_scraper_mariadb_groupname] %}
{% if hostvars[host]['ansible_' + hostvars[host]['prometheus_scraper_interface']] is defined %}
- targets:
  - {{ hostvars[host]['ansible_' + hostvars[host]['prometheus_scraper_interface']]['ipv4']['address'] }}:{{ prometheus_scraper_proxy_port }}
  labels:
    instance: {{ hostvars[host]['inventory_hostname_short'] }}
    job: mariadb
{% endif %}
{% endfor %}
{% endif %}
