groups:
- name: scraper
  rules:
{%- for item in prometheus_rules_scraper.elements %}

  - alert: Exporter{{ item|title }}Unreachable
    expr: up{job=~"{{ item }}.*"} == 0
    for: {{ prometheus_rules_scraper.timeframe }}
    labels:
      service: {{ item }}-exporter
      severity: critical
    annotations:
      description: "Exporter {{ item|title }} at {{ '{{' }} $labels.instance {{ '}}' }} could not be scraped for over {{ prometheus_rules_scraper.timeframe }}"
      title: "Exporter {{ item|title }} is unreachable at {{ '{{' }} $labels.instance {{ '}}' }} "

{%- endfor %}
