---
version: '2'
services:
  prometheus:
    restart: unless-stopped
    image: "{{ prometheus_image }}"
    entrypoint: "/bin/prometheus -config.file=/etc/prometheus/prometheus.yml -storage.local.path=/prometheus -web.console.libraries=/usr/share/prometheus/console_libraries -web.console.templates=/usr/share/prometheus/consoles -storage.local.retention={{ prometheus_storage_local_retention }} -web.external-url={{ prometheus_protocol }}:{{ prometheus_host }}:9090"
    volumes:
      - "prometheus:/prometheus"
      - "{{ prometheus_configuration_directory }}/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
      - "/etc/hosts:/etc/hosts:ro"
    ports:
      - "{{ prometheus_host }}:{{ prometheus_port }}:9090"
volumes:
  prometheus:
