server {
    listen       8080;
    server_name  prometheus;

    location / {
        proxy_pass   http://prometheus:9090;
    }
}

{% if prometheus_enable_alertmanager|bool %}
server {
    listen       8081;
    server_name  alertmanager;

    location / {
        proxy_pass   http://alertmanager:9093;
    }
}
{% endif %}
