---
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - {{ prometheus_host }}:{{ prometheus_port }}

  - job_name: telegraf
    static_configs:
      - targets:
{% for item in groups[prometheus_telegraf_group_name] %}
          - "{{ hostvars[item]['ansible_' + prometheus_telegraf_interface]['ipv4']['address'] }}:{{ prometheus_telegraf_client_port }}"
{% endfor %}
