---
global:
  scrape_interval: {{ prometheus_scrape_interval }}
  scrape_timeout: {{ prometheus_scrape_timeout }}
  evaluation_interval: {{ prometheus_evaluation_interval }}

scrape_configs:

# prometheus scraper

  - job_name: prometheus-{{ inventory_hostname_short }}
    static_configs:
      - targets:
          - {{ prometheus_host }}:{{ prometheus_port }}
        labels:
          instance: {{ inventory_hostname_short }}

{% if prometheus_scraper_elasticsearch | bool %}
# elasticsearch scraper

{% for host in groups[prometheus_scraper_elasticsearch_groupname] %}

  - job_name: elasticsearch-{{ hostvars[host]['inventory_hostname_short'] }}
    #metrics_path: "/_prometheus/metrics"
    metrics_path: "/metrics/elasticsearch"
    static_configs:
      - targets:
          - {{ hostvars[host]['ansible_' + hostvars[host]['prometheus_scraper_interface']|default(hostvars[host]['prometheus_scraper_interface'])]['ipv4']['address'] }}:{{ prometheus_scraper_proxy_port }}
        labels:
          instance: {{ hostvars[host]['inventory_hostname_short'] }}

{% endfor %}
{% endif %}

{% if prometheus_scraper_rabbitmq | bool %}
# rabbitmq scraper

{% for host in groups[prometheus_scraper_rabbitmq_groupname] %}

  - job_name: rabbitmq-{{ hostvars[host]['inventory_hostname_short'] }}
    #metrics_path: "/api/metrics"
    metrics_path: "/metrics/rabbitmq"
    static_configs:
      - targets:
          - {{ hostvars[host]['ansible_' + hostvars[host]['prometheus_scraper_interface']|default(hostvars[host]['prometheus_scraper_interface'])]['ipv4']['address'] }}:{{ prometheus_scraper_proxy_port }}
        labels:
          instance: {{ hostvars[host]['inventory_hostname_short'] }}

{% endfor %}
{% endif %}

{% if prometheus_scraper_node_exporter | bool %}
# node-exporter scraper

{% for host in groups[prometheus_scraper_node_exporter_groupname] %}
  - job_name: node-exporter-{{ hostvars[host]['inventory_hostname_short'] }}
    metrics_path: "/metrics/node-exporter"
    static_configs:
      - targets:
          - {{ hostvars[host]['ansible_' + hostvars[host]['prometheus_scraper_interface']|default(hostvars[host]['prometheus_scraper_interface'])]['ipv4']['address'] }}:{{ prometheus_scraper_proxy_port }}
        labels:
          instance: {{ hostvars[host]['inventory_hostname_short'] }}

{% endfor %}
{% endif %}

{% if prometheus_scraper_memcached | bool %}
{% for host in groups[prometheus_scraper_memcached_groupname] %}
  - job_name: memcached-{{ hostvars[host]['inventory_hostname_short'] }}
    metrics_path: "/metrics/memcached"
    static_configs:
      - targets:
          - {{ hostvars[host]['ansible_' + hostvars[host]['prometheus_scraper_interface']|default(hostvars[host]['prometheus_scraper_interface'])]['ipv4']['address'] }}:{{ prometheus_scraper_proxy_port }}
        labels:
          instance: {{ hostvars[host]['inventory_hostname_short'] }}

{% endfor %}
{% endif %}

{% if prometheus_scraper_mariadb | bool %}
# mariadb scraper

{% for host in groups[prometheus_scraper_mariadb_groupname] %}
  - job_name: mariadb-{{ hostvars[host]['inventory_hostname_short'] }}
    metrics_path: "/metrics/mariadb"
    static_configs:
      - targets:
          - {{ hostvars[host]['ansible_' + hostvars[host]['prometheus_scraper_interface']|default(hostvars[host]['prometheus_scraper_interface'])]['ipv4']['address'] }}:{{ prometheus_scraper_proxy_port }}
        labels:
          instance: {{ hostvars[host]['inventory_hostname_short'] }}

{% endfor %}
{% endif %}

{% if prometheus_scraper_haproxy | bool %}
# haproxy scraper

{% for host in groups[prometheus_scraper_haproxy_groupname] %}

  - job_name: haproxy-{{ hostvars[host]['inventory_hostname_short'] }}
    metrics_path: "/metrics/haproxy"
    static_configs:
      - targets:
          - {{ hostvars[host]['ansible_' + hostvars[host]['prometheus_scraper_interface']|default(hostvars[host]['prometheus_scraper_interface'])]['ipv4']['address'] }}:{{ prometheus_scraper_proxy_port }}
        labels:
          instance: {{ hostvars[host]['inventory_hostname_short'] }}

{% endfor %}
{% endif %}

{% if prometheus_scraper_cadvisor | bool %}
# cadvisor scraper

{% for host in groups[prometheus_scraper_cadvisor_groupname] %}

  - job_name: cadvisor-{{ hostvars[host]['inventory_hostname_short'] }}
    metrics_path: "/metrics/cadvisor"
    static_configs:
      - targets:
          - {{ hostvars[host]['ansible_' + hostvars[host]['prometheus_scraper_interface']|default(hostvars[host]['prometheus_scraper_interface'])]['ipv4']['address'] }}:{{ prometheus_scraper_proxy_port }}
        labels:
          instance: {{ hostvars[host]['inventory_hostname_short'] }}

{% endfor %}
{% endif %}

{% if prometheus_scraper_ceph | bool %}
# ceph scraper

  - job_name: ceph
    metrics_path: "/"
    honor_lables: true
    static_configs:
      - targets:
          - {{ prometheus_scraper_ceph_target_host }}:{{ prometheus_scraper_ceph_target_port }}

{% endif %}

