---
global:
  scrape_interval: {{ prometheus_scrape_interval }}
  scrape_timeout: {{ prometheus_scrape_timeout }}
  evaluation_interval: {{ prometheus_evaluation_interval }}

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
      - targets:
{% for host in groups[prometheus_groupname] %}
{% if hostvars[host]['prometheus_alertmanager_host'] is defined %}
        - {{ hostvars[host]['prometheus_alertmanager_host'] }}:{{ prometheus_alertmanager_port }}
{% endif %}
{% endfor %}

rule_files:
  - /etc/prometheus/rules/*.yml

scrape_configs:

  - job_name: prometheus
    metrics_path: "/metrics/prometheus"
    file_sd_configs:
      - files:
        - targets/prometheus.yml

  - job_name: elasticsearch
    metrics_path: "/metrics/elasticsearch"
    file_sd_configs:
      - files:
        - targets/elasticsearch.yml

  - job_name: rabbitmq
    metrics_path: "/metrics/rabbitmq"
    file_sd_configs:
      - files:
        - targets/rabbitmq.yml

  - job_name: node
    metrics_path: "/metrics/node"
    file_sd_configs:
      - files:
        - targets/node.yml

  - job_name: memcached
    metrics_path: "/metrics/memcached"
    file_sd_configs:
      - files:
        - targets/memcached.yml

  - job_name: mariadb
    metrics_path: "/metrics/mariadb"
    file_sd_configs:
      - files:
        - targets/mariadb.yml

  - job_name: haproxy
    metrics_path: "/metrics/haproxy"
    file_sd_configs:
      - files:
        - targets/haproxy.yml

  - job_name: cadvisor
    metrics_path: "/metrics/cadvisor"
    file_sd_configs:
      - files:
        - targets/cadvisor.yml
    metric_relabel_configs:
      - source_labels: [image]
        regex: '.*/(.*):.*$'
        replacement: '$1'
        target_label: image_name
      - source_labels: [image]
        regex: '.*:(.*)$'
        replacement: '$1'
        target_label: image_tag

  - job_name: ceph 
    metrics_path: {{ prometheus_scraper_ceph_metrics_path }}
    honor_labels: true
    file_sd_configs:
      - files:
        - targets/ceph.yml
